.users-section {
  padding: 15px 60px;
}

.users-section h2 {
  margin-bottom: 30px;
  color: #1e293b;
}

.users-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 25px;
}

.cd-card {
  background: white;
  margin-top: 10px;
  border-radius: 15px;

  padding: 25px;

  text-align: center;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

  transition: 0.3s;
}

.cd-card:hover {
  transform: translateY(-5px);

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.user-avatar {
  width: 100px;

  height: 100px;

  border-radius: 50%;

  object-fit: cover;

  margin-bottom: 20px;
}

.cd-card h3 {
  margin-bottom: 10px;
}

.cd-card p {
  color: #64748b;

  margin-bottom: 15px;
}

.role {
  display: inline-block;

  padding: 6px 15px;

  border-radius: 20px;

  font-size: 14px;

  margin-bottom: 20px;
}

.admin {
  background: #fef3c7;

  color: #b45309;
}

.user {
  background: #dcfce7;

  color: #166534;
}

.view-btn {
  width: 100%;

  padding: 12px;

  background: #4f46e5;

  color: white;

  border: none;

  border-radius: 8px;

  cursor: pointer;
}

.view-btn:hover {
  background: #4338ca;
}
